# 微信虚拟支付配置
# 虚拟支付沙箱AppKey
SANDBOX_APP_KEY=j2Nrg8CpesXNJIYQn6GXhdB3q4TP7cbf

# 虚拟支付现网AppKey
PROD_APP_KEY=BkB08LlSGyk00Txvqyz2LSx3PFutcLsO

# 虚拟支付OfferId
OFFER_ID=1450493122

# 微信小程序AppId
WECHAT_APP_ID=wxc271e812faa3f43b

# 环境变量（production=生产环境，其他=开发环境）
NODE_ENV=development

# 微信Access Token（用于调用微信API）
# 注意：这个需要动态获取，这里只是示例
WECHAT_ACCESS_TOKEN=
